---
import EncounterCard from "../../components/EncounterCard";
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("sets");
  return posts.map((set) => ({
    params: { set: set.id },
    props: { set },
  }));
}

const { set } = Astro.props;
---

<Layout title={set.data.name}>
  <div class="container m-auto flex flex-col gap-12">
    <span class="text-4xl font-dark-souls">{set.data.name}</span>
    <span class="text-2xl">Level 1 Encounters</span>

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
      {set.data.encounters.filter((encounter) => encounter.difficulty === '1').map((encounter) => (
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
        <EncounterCard encounter={encounter} scale={0.3} />
      ))}
    </div>
  </div>
</Layout>

